@model IEnumerable<Slider>
@{ ViewData["Title"] = "Slider"; }
<div class="x_content col-9 right_col">
    <div class="table-responsive bg-white">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th class="column-title">ID </th>
                    <th class="column-title">Başlık </th>
                    <th class="column-title">Açıklama </th>
                    <th class="column-title">Görüntülenme Sırası </th>
                    <th class="column-title">Fiyatı </th>
                    <th class="column-title">Linki </th>
                </tr>
            </thead>

            <tbody>
                @foreach (Slider s in @Model)
                {
    <tr>
        <td class=" ">@s.ID</td>
        <td class=" ">@s.Title</td>
        <td class=" ">@s.Description</td>
        <td class=" ">@s.DisplayIndex</td>
        <td class="a-right a-right ">@s.Price</td>
        <td class=" last">
            <a href="@s.Link">View</a>
        </td>
    </tr>}

            </tbody>
        </table>
    </div>
</div>